<div>
  <button class="row-md-4" (click)="valami2()" >Genrátor inditása</button>

</div>
<div>
<select [(ngModel)]="selectedgenerator">
  <option *ngFor="let generate of generatornames">{{generate}}</option>
</select>
</div>
a kiválasztot generátor id-ja: {{selectedgenerator}}
<div>
  <Button class="row-md-4" (click)="valami3()">Generator kikapcs</Button>
</div>


<div class="row mt-3">
  <div class="col-md-10">
    <input type="text" class="form-control" placeholder="Generater name" [(ngModel)]="genname">
  </div>
</div>


<div>
az elküldött random szám: {{valami}}
</div>

  Max
  <input type="number" [(ngModel)]="maxnumber" >
<div>
  Minimum
  <input type="number" [(ngModel)]="minnumber">
</div>

<div>
  <button (click)="getdata()" >Hibak</button>
  <table>

<tr>
  
  <div *ngFor="let message of aktivak">
    <li>
      {{message}}
    </li>
  </div>
</tr>
  </table>

</div>





<div>
  <button (click)="getdata2()" >Aktív</button>
  <table>

    <tr>
      <div *ngFor="let message of hibak">
        <li>
          {{message.name}},     {{message.ertek}},  {{message.time}}
          
        </li>
      </div>
    </tr>
  </table>


</div>
<Button (click)="gotomediagram()">Diagram</Button>
<Button (click)="gototime()">timediagram</Button>