<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-outline-primary" (click)="valami2()">Genrátor indítása</button>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-md-4">
      <select class="form-select" [(ngModel)]="selectedgenerator">
        <option *ngFor="let generate of generatornames">{{generate}}</option>
      </select>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-12">
      A kiválasztott generátor id-ja: {{selectedgenerator}}
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-md-4">
      <button class="btn btn-outline-primary" (click)="valami3()">Generátor kikapcsolása</button>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-md-10">
      <input type="text" class="form-control" placeholder="Generátor név" [(ngModel)]="genname">
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-12">
      Az elküldött random szám: {{valami}}
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-6">
      Max
      <input type="number" class="form-control" [(ngModel)]="maxnumber">
    </div>
    <div class="col-6">
      Minimum
      <input type="number" class="form-control" [(ngModel)]="minnumber">
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-12">
      <button class="btn btn-outline-primary" (click)="getdata()">Hibák</button>
      <table>
        <tr>
          <div *ngFor="let message of aktivak">
            <li>{{message}}</li>
          </div>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-12">
      <button class="btn btn-outline-primary" (click)="getdata2()">Aktív</button>
      <table>
        <tr>
          <div *ngFor="let message of hibak">
            <li>{{message.name}}, {{message.ertek}}, {{message.time}}</li>
          </div>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-md-4">
      <button class="btn btn-outline-primary" (click)="gotomediagram()">Diagram</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-outline-primary" (click)="gototime()">Time Diagram</button>
    </div>
  </div>
</div>
