<div class="row mt-3">
    <h4>Jelentkezz be</h4>
   </div>
   <div class="row mt-3">
     <div class="col-md-5">
       <button class="btn btn-outline-primary" (click)="savegenrater()" >Generate</button>
     </div>
     <div class="col-md-5">
       <button class="btn-btn-outline-secondary" (click)="gottomonitoring()" >Monitoring</button>
       </div>
       <div class="col-md-5">
        <button class="btn-btn-outline-secondary" (click)="gototime()" >Monitoring</button>
        </div>
   </div> 
